<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src *; connect-src *;"-->
    <meta name="viewport" content="viewport-fit=cover, initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="
  default-src * data: gap: https://ssl.gstatic.com 'unsafe-eval';
  style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
  script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
  connect-src 'self' 'unsafe-inline' 'unsafe-eval' blob: ws: *;">
    <title>DinDin</title>
    
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/dindin.css" rel="stylesheet">
    <link href="css/material-icons.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jquery.atwho.css" rel="stylesheet">

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="cordova_plugins.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic.native.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/hashtable.js"></script>
    <script src="js/mask.js"></script>
    <script src="js/jquery.caret.min.js"></script>
    <script src="js/jquery.atwho.min.js"></script>
    <script src="js/rw-money-mask.min.js"></script>
    <script src="js/twemoji.min.js"></script>
    <script src="js/es6-promise.min.js"></script>
    <script src="js/es6-promise.auto.min.js"></script>
    <script src="js/html2canvas.min.js"></script>
    <script src="js/jquery.numberformatter.js"></script>
    <script src="js/ng-currency.min.js"></script>
    <script src="js/angular-input-masks-standalone.min.js"></script>

    <script src="login/login.module.js"></script>
    <script src="login/login.controller.js"></script>
    <script src="login/login.service.js"></script>

    <script type="text/javascript">
        //bootstrap manual do angular
        angular.element(document).ready(function () {
            if (window.cordova) {
              var t1 = performance.now();
              console.log("Running in Cordova, will bootstrap AngularJS once 'deviceready' event fires.");
              document.addEventListener('deviceready', function () {
                var t2 = performance.now();
                var tF = t2 - t1;
                console.log("Time to start in ms: " + tF);
                console.log("Deviceready event has fired, bootstrapping AngularJS.");
                angular.bootstrap(document.body, ['app']);
              }, false);
            } else {
              console.log("Running in browser, bootstrapping AngularJS now.");
              angular.bootstrap(document.body, ['app']);
            }
        });
    </script>

  </head>

  <!--body ng-app="app" animation="slide-left-right-ios7"-->
  <body animation="slide-left-right-ios7">
    <div>
        <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21"  drag-content="true">
            <ion-side-menu-content>
                <ion-nav-bar class="bar-calm">
                    <ion-nav-back-button></ion-nav-back-button>
                </ion-nav-bar>
                <ion-nav-view></ion-nav-view>
            </ion-side-menu-content>
            <ion-side-menu side="left"  id="side-menu21" style="background-color:#FFFFFF;" drag-content="true">
                <ion-content padding="true" class="side-menu-left">
                    <div class="row" id="menu-lateral-header">
                        <div class="col col-33" id="foto" ng-click="verperfil(usuario_id, 'perfil')" menu-close>
                            <div id="avatar_usuario">
                                <img src="{{avatar}}" ng-if="avatar != 'null' && avatar != null">
                            </div>
                        </div>
                        <div class="col col-67" id="dados" ng-click="verperfil(usuario_id, 'perfil')" menu-close>
                            <p style="margin: 10px 0;">
                              <span id="nome_usuario">{{nome_completo}}</span><br>
                              <!--<span id="data_usuario">Cliente desde *pegar data*</span><br>-->
                              <span id="username_usuario">{{username}}</span>  
                            </p>
                        </div>
                        <i id="qrcode_menulateral" ui-sref="qrmeucodigo" class="fa fa-qrcode" aria-hidden="true" menu-close></i>
                    </div>
                    
                    <div class="row item-menu-lateral-novo" ng-click="verperfil(usuario_id, 'perfil')" menu-close style="margin-top: 30px !important;">
                        <div class="col-25">
                            <img src="img/minha-conta.png">
                        </div>
                        <div class="col-75">
                            Minha Conta
                        </div>
                    </div>

                    <!--
                    <div class="row item-menu-lateral-novo">
                        <div class="col-25">
                            <img src="img/minha-conta.png">
                        </div>
                        <div class="col-75">
                            Cartão DinDin
                        </div>
                    </div>
                    -->

                    <div class="row item-menu-lateral-novo" ui-sref="pendencias3" menu-close>
                        <div class="col-25" style="position: relative;">
                            <img src="img/pendencias-menu.png">
                            <span class="contador-vermelho contador-pend-menu" ng-if="cobrancas_pendentes > 0">{{cobrancas_pendentes}}</span>
                        </div>
                        <div class="col-75">
                            Pendências
                        </div>
                    </div>


                    <div class="row item-menu-lateral-novo" ui-sref="servicos" menu-close>
                        <div class="col-25">
                            <img src="img/servicos-menu.png">
                        </div>
                        <div class="col-75">
                            Serviços
                        </div>
                    </div>


                    <div class="row item-menu-lateral-novo" ui-sref="feedglobal" menu-close>
                        <div class="col-25">
                            <img src="img/rede-social-menu.png">
                        </div>
                        <div class="col-75">
                            Rede social DinDin
                        </div>
                    </div>


                    <div class="row item-menu-lateral-novo" style="border-bottom: 0.5px solid rgba(0,112,121,0.25); padding-bottom: 30px;" ui-sref="convidaramigos" menu-close>
                        <div class="col-25">
                            <img src="img/indicar-amigos-menu.png">
                        </div>
                        <div class="col-75">
                            Indicar amigos
                        </div>
                    </div>


                    <div class="row item-menu-lateral-novo" ui-sref="meajuda" menu-close>
                        <div class="col-25">
                            <img src="img/logo-menu.png">
                        </div>
                        <div class="col-75">
                            Ajuda DinDin
                        </div>
                    </div>

                    <div class="row item-menu-lateral-novo" ng-click="logoff(sim)" menu-close style="padding-bottom: 30px;">
                        <div class="col-25">
                            <img src="img/sair-menu.png">
                        </div>
                        <div class="col-75">
                            Sair
                        </div>
                    </div>

                    <p style="color: #d3d3d3;margin: 0 auto;text-align: center;position: absolute;width: 100%;bottom: 20px;background: white;">
                        Versão {{versaoApp}}
                    </p>

                </ion-content>
            </ion-side-menu>
        </ion-side-menus>
    </div>
  </body>
</html>