<ion-view title="entrar" hide-back-button="true" hide-nav-bar="true" id="page6" class="background-gradiente">
    <ion-content padding="true" class="has-footer">
        <div style="margin: 30px 0 40px 0;">
            <img src="img/novo-logo-branco-transp.png" width="150" height="150" style="margin: 0 auto; display: block;">
        </div>
        <div class="list entrar-login" style="padding-left: 30px; padding-right: 30px;">
            <label class="item item-input">
                <input type="text" placeholder="CPF/CNPJ" id="emaillogar" ng-model="emaillogar" ng-change="desmascarar()" ng-blur="mascarar()">
            </label>
            <label class="item item-input" style="padding-right: 16px;">
                <input id="senhalogar" type="password" placeholder="SENHA" ng-model="senha" ng-hide="showPassword">
                <input id="senhalogar" type="text" placeholder="SENHA" ng-model="senha" ng-show="showPassword">
                <i class="icon ion-eye olho-login" ng-hide="showPassword" on-touch="showPassword = !showPassword"></i>
                <i class="icon ion-eye-disabled olho-login" ng-show="showPassword" on-touch="showPassword = !showPassword"></i>
            </label>
            <div style="margin: 20px 0 30px 0;">
                <p style="text-align: center; font-size: 17px;" ng-click="login()"><strong>ENTRAR</strong></p>
            </div>
            <div style="margin: 20px 0 30px 0;">
                <p style="text-align: center; font-size: 17px;" ng-click="FBlogin()"><strong>ENTRAR COM FACEBOOK</strong></p>
            </div>
            <div style="margin: 20px 0 30px 0;">
                <p style="text-align: center; font-size: 15px;" ng-click="esqueceu()">Esqueceu sua senha?</p>
            </div>
            <div style="margin: 40px 0 0 0;">
                <p style="text-align: center; font-size: 15px;">Dúvidas? Problemas? Entre em contato com <u ng-click="meajuda()">meajuda@appdindin.com</u></p>
            </div>
        </div>     
    </ion-content>
    <div class="bar bar-footer" ng-click="registrar()">
        <div class="title" style="color: #26d466;">Novo por aqui? <strong>CADASTRE-SE</strong></div>
    </div>
</ion-view>